<div class="container" ng-controller="DomainController">
        <div class="row">
                <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-primary">
                                <div class="panel-heading">Domain List</div>

                                <div class="panel-body">
                                        Domain list will be displayed here. (Loaded by AngularJS)
                                </div>
                        </div>
                </div>
        </div>
</div>

