<div class="container" ng-controller="HomeController">
        <div class="row">
                <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-primary">
                                <div class="panel-heading">Domains</div>

                                <div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th>#</th>
							<th>Domain</th>
							<th>Last Modified</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="domain in domains">
							<td>{{ domain.id }}</td>
							<td>{{ domain.domain }}</td>
							<td>{{ domain.updated_at }}</td>
							<td>
								<a href="#/domain/{{ domain.id }}/edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
								&nbsp;
								<a href="#/domain/destroy/{{ domain.id }}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
						</tbody>
					</table>
                                </div>
                        </div>
                </div>
        </div>
</div>
