<div class="container" ng-controller="IpgeoController">
        <div class="row">
                <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-primary">
                                <div class="panel-heading">IP Geolocation Lookup</div>

                                <div class="panel-body">
                                        IP geolocation lookup form will be displayed here. (Loaded by AngularJS)
                                </div>
                        </div>
                </div>
        </div>
</div>
